body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}
.container {
  box-sizing: border-box;
  width: fit-content;
  border: solid 3px #00698f;
  padding: 50px;
  border-radius: 10px;
}
h1 {
  color: #00698f;
}

p {
  font-size: 16px;
}
#title {
  color: #00698f;
}
#inputDate {
  border-style: hidden;
  border: solid 1px #00698f;
}
#calculateAge {
  border: solid 2px #f2f2f2;
  background-color: #00698f;
  color: #f2f2f2;
  font-weight: 500;
  padding: 5px;
  margin-top: 8px;
}
